.sub-header {
/*  overflow: hidden;*/
/*  background-color: rgba(51, 51, 51, .6);*/
/*  position: fixed;*/
  top: 0;
  width: 100%;
  height: 39px;
  z-index: 100;
}

.sub-header a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Monospace;
}