.browser{
    font-family: 'Handlee', cursive;
}
.sub-browser{
    font-size: 0.8rem;
    font-family: 'McLaren', cursive;
    font-weight: normal;
}
.banner-star{
    color: #92AB9E;
    font-size: 1.3em;
    overflow: hidden;
    margin: auto auto;
    letter-spacing: -3px;
    line-height: 0.8em;
}
.sub-text{
    font-size: 0.8em;
    color: #99B19C;
}
.list{
    font-family: 'McLaren', cursive;
/*            font-weight: bold;*/
}