body{
	background-color: #99B19C;
}
#header {
		max-width: 100%;
		text-align: center;
	}
#header .content .inner .sub-name h3{
	font-size: 32px;
	color: #B33030;
}
#header .content .inner .sub-name{
	border: 5px outset red;
	border-radius: 10px;
  	background-color: blanchedalmond; 
  	width: 200px;   
}
#header .content .inner p {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	line-height: 2;
}
nav{
	text-align: center;

}
nav a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: red;

}

/*	border-bottom: dotted 1px rgba(255, 255, 255, 0.5);*/
