html{
	position: relative;
	min-height: 100%;
}
body{
	background-color: #99B19C;
	margin: 0 0 75px;
	padding: 0;
}
::-webkit-scrollbar {
	display: none;
}
#header {
	max-width: 100%;
	text-align: center;
}
.content{
	margin-top: 50px;
}
#header .content .inner .sub-name{
	border: 10px solid #4B291A;
	border-radius: 15px;
	background-color: #F1E0BF; 
	width: 30%;
}
#header .content .inner .sub-name h3{
	font-size: 50px;
	font-family: 'McLaren', cursive;
	color: #D5654C;
	margin-bottom: auto;
}
#header .content .inner .sub-name p{
	color: #4B291A;
	font-family: 'Handlee', cursive;
	font-weight: bolder;
}
#header > .content > .inner > p{
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	line-height: 2;
}
.icon {
	position: absolute;
	display: flex;
	top: -30px;
	right: 10px;
	color: #7C8F84;
	font-size: 2.5rem;
}

.icon li {
	list-style: none;
	margin: 4px;
}

.icon li a {
	color: #7C8F84;
	text-decoration: none;
	transition: 0.5s;
}

.icon li a:hover {
	color: #56635B;
}
.trangchu{
	position: relative;
}
/*CSS phân đoạn Background*/
.trangchu-bg-out{
	margin: auto;
	position: absolute;
	top: 20px;
	bottom: 20px;
	z-index: -1;
	background-color: #8BA396;
	width: 100%;
}
.trangchu-bg-middle{
	margin: auto;
    position: absolute;
    top: 10px;
    bottom: 10px;
    z-index: -1;
    background-color: #96B0A3;
    width: 100%;
}
.trangchu-bg-inner{
	margin: auto;
	position: absolute;
	top: 10px;
	bottom: 10px;
	z-index: -1;
	background-color: #8BA396;
	width: 100%;
}
/*----------------------------------*/
.sub-trangchu{
	border-radius: 3px;
	background-color: #F1E0BF;
	width: 50%;
	margin: 30px auto 0;
	color: #D5654C;
}
/*Nav Bars ( Sở thích, Dự án, Liên hệ)*/
.sub-trangchu-nav{
	text-align: center;
}
.trangchu-element{
	font-family: 'Architects Daughter', cursive;
	color: #4B291A;
	padding: 5px 20px;
	display: inline-block;
	margin: 0 20px;
	font-size: 1.7em;
	cursor: pointer;
}
.trangchu-element:hover{
	font-weight: bold;
}
/*----------------------------------*/
.trangchu-div{
	height: 5px;
	width: 100%;
	background-color: #CBBEA3;
}
.trangchu-tab-container{
	font-family: 'Source Sans Pro', sans-serif;
	padding: 8px;
}
.trangchu-tab-content{
	position: relative;
    display: block;
    border-width: 30px;
    border: 1px dashed #6C8779;
    padding: 10px 15px;
    display: none;
}
.trangchu-h{
	font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.55em;
    margin-bottom: -3px;
    position: relative;
}
.trangchu-p{
	font-family: 'McLaren', cursive;
    font-size: 1.0em;
    margin-bottom: 3px;
}
.trangchu-list{
	    font-family: 'McLaren', cursive;
    font-size: 0.85em;
    margin-bottom: 3px;
}
.trangchu-star{
	color: #92AB9E;
    font-size: 1.3em;
    overflow: hidden;
    margin: auto auto;
    letter-spacing: -3px;
    line-height: 0.8em;
}
.trangchu-p-div{
	height: 10px;
}
.trangchu-sub{
	color: #92AB9E;
    font-size: 0.8em;
    vertical-align: middle;
    margin: auto auto;
}
.sub-trangchu-nav .active{
	font-weight: bold;
	font-size: 1.8em;
}
.unselectable{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/**/
#animated {
	z-index: -1;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

#clouds {
	margin-top: -60px;
	/*margin-top: 290px;*/
	z-index: -1;
	-webkit-animation: cloudsAnim linear 90s infinite;
	animation: cloudsAnim linear 90s infinite;
	background-image: url("../imgs/clouds.png");
	background-position: 0 100px;
	background-repeat: repeat-x;
	height: 100%;
	min-width: 2732px;
	position: absolute;
	width: 200%;
	opacity: 0.2;
	filter: hue-rotate(215deg);
}
@-webkit-keyframes cloudsAnim {
	0% {
		-webkit-transform: translateX(-1366px)
	}
	100% {
		-webkit-transform: translateX(0)
	}
}

@keyframes cloudsAnim {
	0% {
		transform: translateX(-1366px)
	}
	100% {
		transform: translateX(0)
	}
}
footer {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	background-color: #8AA296;
	position: absolute;
	color: #4F695C;
	width: 100%;
	font-size: 0.8em;
	padding: 10px 0;
	bottom: 0;
}
/*------------------------*/
canvas {
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.page {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.noel{
	font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    color: #B93C3F;
    left: 50%;
    top: 10%;
    padding: 0;
    margin: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 2;
}