body{
	background-color: #99B19C;
}
::-webkit-scrollbar {
	display: none;
}
#header {
	max-width: 100%;
	text-align: center;
}
.content{
	margin-top: 50px;
}
#header .content .inner .sub-name{
	border: 10px solid #4B291A;
	border-radius: 15px;
	background-color: #F1E0BF; 
	width: 30%;
}
#header .content .inner .sub-name h3{
	font-size: 50px;
	font-family: 'McLaren', cursive;
	color: #D5654C;
	margin-bottom: auto;
}
#header .content .inner .sub-name p{
	color: #4B291A;
	font-family: 'Handlee', cursive;
	font-weight: bolder;
}
#header > .content > .inner > p{
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	line-height: 2;
}
.icon {
	position: absolute;
	display: flex;
	top: -30px;
	right: 10px;
	color: #7C8F84;
	font-size: 2.5rem;
}

.icon li {
	list-style: none;
	margin: 4px;
}

.icon li a {
	color: #7C8F84;
	text-decoration: none;
	transition: 0.5s;
}

.icon li a:hover {
/*  background: #03a9f4;*/
color: #56635B;
}

nav a{
	text-decoration: none;
	color: #4B291A;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.7em;
	padding: 5px 20px;
	margin: 0 20px;
	display: inline-block;
}
nav a:hover{
/*	font-color: #4B291A;*/
font-weight: bold;
}
nav a[tabindex]:focus{
	font-weight: bold;
}
.trangchu{
	margin: auto;
	top: 1px;
	bottom: 20px;
	z-index: 0;
	background-color: #8BA396;
	width: 100%;
	position: relative;
	
}
.trangchu-out{
	margin: auto;
	position: absolute;
	top: 10px;
	bottom: 10px;
	z-index: -1;
	background-color: #96B0A3;
	width: 100%;
}
.trangchu-inner{
	margin: auto;
	position: absolute;
	top: 10px;
	bottom: 10px;
	z-index: -1;
	background-color: #8BA396;
	width: 100%;
}
.sub-trangchu{
	border-radius: 3px;
	background-color: #F1E0BF;
	width: 50%;
}
/**/
#animatedObjects {
	/*background-color: red;*/
	z-index: -1;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

#clouds {
	margin-top: -110px;
	/*margin-top: 290px;*/
	z-index: -1;
	-webkit-animation: cloudsAnim linear 90s infinite;
	animation: cloudsAnim linear 90s infinite;
	background-image: url("../imgs/clouds.png");
	background-position: 0 100px;
	background-repeat: repeat-x;
	height: 100%;
	min-width: 2732px;
	position: absolute;
	width: 200%;
	opacity: 0.2;
	filter: hue-rotate(215deg);
}
@-webkit-keyframes cloudsAnim {
	0% {
		-webkit-transform: translateX(-1366px)
	}
	100% {
		-webkit-transform: translateX(0)
	}
}

@keyframes cloudsAnim {
	0% {
		transform: translateX(-1366px)
	}
	100% {
		transform: translateX(0)
	}
}
.footer {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	background-color: #8AA296;
	color: #4F695C;
	font-size: 0.8em;
	padding: 10px 0;
	margin: 25px 0 -10px 0;
}